<%- include("partials/header") %>
    <div class="container my-5">
        <h2>
            <%= blog.name %>
        </h2>
        <hr>
        <p>
            <%= blog.body %>
        </p>

    </div>